<footer>
    <div class="f-info">
        <div class="f-info-socials mt-3">
            <i class="fa-brands fa-square-facebook"></i>&nbsp&nbsp;
            <i class="fa-brands fa-square-instagram"></i>&nbsp&nbsp;
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; CP Private Limited</div>
        <div class="f-info-contact">
            <div>Contact: Chetan Patil</div>
            <div><a href="tel:+917038096696">7038096696</a></div>
            <div><a href="mailto:chetanpatil9982@gmail.com">chetanpatil9982@gmail.com</a></div>
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> | 
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>