
<% layout("layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <br>
    <h1>Create New Listing</h1>
   <br>
  
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
        <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
        <div class="valid-feedback">Title looks Good!</div>
        </div>
        <div class="mb-3">
            <lable for="Description" class="form-label">Description</lable>
            <textarea type="text" name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
        <div class="invalid-feedback">Description should be Valid</div>
        </div>
        
        
        <div class="mb-3">
            <lable for="image" class="form-label" >Upload Image</lable>
           
        <input type="file" name="listing[image]" class="form-control" required>
       
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
            <lable for="price" class="form-label" >Price</lable>
            <input  name="listing[price]" placeholder="enter price" class="form-control" required>
            <div class="invalid-feedback">Price should be Valid</div>
        </div>
     
       
        <div class="mb-3 col-md-8">
            <lable for="location" class="form-label">Location</lable>
            <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
            <div class="invalid-feedback">Location should be Valid</div>
        </div>
    </div>
        <div class="mb-3">
            <lable for="country" class="form-label">Country</lable>
            <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
            <div class="invalid-feedback">Country name should be Valid</div>
        </div>
        <div>
            <label for="category">Category:</label>
            <select name="listing[category]" id="category" class="form-control" required>
              <option value="Rooms">Rooms</option>
              <option value="Iconic-Cities">Iconic Cities</option>
              <option value="Mountains">Mountains</option>
              <option value="Castles">Castles</option>
              <option value="Beach">Beach</option>
              <option value="Camping">Camping</option>
              <option value="Skiing">Skiing</option>
              <option value="Pools">Pools</option>
              <option value="Arctic">Arctic</option>
              <option value="Design">Design</option>
            </select>
          </div>
          <br>
          <br>
     
       
        
        <button class="btn btn-dark">Add</button>
        <br>
        <br>
   
    </form>
</div>
</div>
    
</body>
